<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "testApp/css/style.css" %}">
</head>
<body>
    <h1>User</h1>

    {% if users %}
        <div>    
            <ol>
                {% for person in users %}
                    <div class='abc'>    
                        <li>User Information:</li>
                        <ul>
                            <li>{{ person.first_name }}</li>
                            <li>{{ person.last_name }}</li>
                            <li>{{ person.email }}</li>
                        </ul>
                    </div>    
                {% endfor %}
            </ol>
        </div>    
    {% endif %}
</body>
</html>